* {
    box-sizing: border-box;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: auto;
    grid-gap: 20px;
}

@media screen and (max-width: 1156px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

img {
    width: 100%;
    max-width: 350px;
    height: 200px;
    object-fit: cover;
}

div.card {
    height: 300px;
}

div.card-text {
    height: fit-content;
}