@inherits LayoutComponentBase

<div class="page">
     @* <div class="sidebar">
         <NavMenu />
     </div> *@

    <main>
        <header class="top-row px-4 d-flex justify-content-between">
            <Title />
            <BasketButton />
        </header>
        <div class="d-flex justify-content-between">
            <article class="content px-4">
                @Body
            </article>
            <aside id="categories">
                <h3>Categories</h3>
                
                @foreach(var category in categories)
                {
                    <div class="category">@category</div>        
                }
            </aside>
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    List<string> categories = new List<string> { "Tech", "Make-up", "Food" };
}